body {
    color: #333;
    font-family: arial;
    max-width:  650px;
    margin: 0 auto;
    padding: 0 1em;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

footer {
    color: #888;
    border-top: 3px solid #666;
    margin-top: 1em;
    padding: 3em 0;
    font-size: 1.5em;
}

header {
    margin-top: 1em;
    margin-bottom: 3em;
    background-color: azure;
}

h1 {
    font-size: 4em;
    margin-bottom: 16px;
}

header a {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
    font-size: 1.5em;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #ccc;
    padding: 0.8em;
    border-radius: 10px;
    margin-right: 1em;
}

button {
    padding: 0.5em 1.3em;
    border-radius: 10px;
    cursor: pointer;
    background: #888;
    color: white;
}

.error {
    color:red;
}